.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.fixed-width-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.fixed-width-table th,
.fixed-width-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.fixed-width-table th {
  background-color: #5DADE2; /* Darker blue color for better contrast */
  color: white;
}
.start-log {
  border-top: 6px solid #ddd; /* Dark blue color */
}


.action-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button {
  background-color: #4CAF50;
}

.start-button:hover {
  background-color: #45a049;
}

.stop-button {
  background-color: #f44336;
}

.stop-button:hover {
  background-color: #e53935;
}

.clear-button {
  background-color: #ff9800; /* Orange color for warning */
}

.clear-button:hover {
  background-color: #fb8c00; /* Darker orange color for hover */
}

@media (max-width: 600px) {
  .fixed-width-table th,
  .fixed-width-table td {
    padding: 4px;
  }

  .action-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}